<section class="widget password">

	<div class="password__container">
		
		<form class="password__form" action="/controllers/password" method="post">

			<input type="hidden" name="page" value="<%= locals.page._id %>">
			
			<h3>Password Required</h3>
			
			<input type="password" name="password" placeholder="Enter Password" autofocus>
			<input type="submit" value="Continue">
		
		</form>

	</div>

</section>
