<section
id="widget-<%= locals.id %>"
class="widget video video--default"
data-id="<%= locals.id %>"
data-widgettype="<%= locals.type %>">
		
	<div class="video__container">
	
		<%- locals.content %>
	
	</div>

</section>